# ── Web framework ─────────────────────────────────────────────────────────────
fastapi
uvicorn
python-multipart

# ── LangChain ─────────────────────────────────────────────────────────────────
langchain
langchain-community
langchain-huggingface
langchain-text-splitters

transformers
sentence-transformers
datasets
peft
accelerate

faiss-cpu
chromadb
pysqlite3-binary
pypdf
unstructured
python-docx

# ── Storage / Utils ───────────────────────────────────────────────────────────
minio>=7.2
psutil
