
chromadb
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
python-multipart
torch
transformers
sentence-transformers
faiss-cpu
datasets
peft
accelerate
pypdf
unstructured
python-docx
minio>=7.2
psutil
